<div>
<form action="/comments" method="POST">
  <input type="textarea" name="comment[body]" >
  <input type="hidden" name="comment[commentable_type]" value="Question">
  <input type="comment[commentable_id]" value="<%= question.id %>">
    <input type="comment[user_id]" value="<%= current_user.id %>">
  <input type="submit" value="Add a Comment">
</form>
</div>