<div>
<form action="/questions/<%= @question.id %>/comments" method="POST">
  <textarea rows="3" cols="50" type="text" name="comment[body]"></textarea>
  <input type="hidden" name="comment[commentable_type]" value="Question">
  <input type= "hidden" name="comment[commentable_id]" value="<%= @question.id %>">
    <input type="hidden" name="comment[user_id]" value="<%= current_user.id %>">
  <input type="submit" value="Add a Comment">
</form>
</div>

<a href="/">Return Home </a>
